@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;600&display=swap');


body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}


.Name {
  font-size: 2rem;
  font-weight: bold;
  color: white;

}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  width: 100%;
 
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}


.intro-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Bebas neue;
}

.intro-text {
    font-size: 10rem;
    color: red;
    text-align: center;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


section {
    height: 100vh;
    box-sizing: border-box;  
  }

#whoIsWatching {
    width: 100vw;
    min-height: 100vh;
    background-color: #141414;
  }
  
.logo-section {
    width: 95vw;
    margin: auto;
    height: 7rem;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content:center;

  }

.logo-section a img {
    width: 8rem;
    height: 8rem;
    cursor: pointer;
    margin-right: 30px;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgb(247, 245, 245);
    outline: 1px solid;
    outline-color: rgba(248, 244, 244, 0.893);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 100ms cubic-bezier(0.19, 1, 0.22, 1);
  }


.logo-section a img:hover {
  transform: scale(1.1);
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(248, 245, 245, 0.889);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #e9ecee; 
}

.logo-section a p {
 text-align: center;
 color: white;
 padding-right: 30px;
}

.main-div {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
  }
  
.main-div h1 {
    font-size: 6.5rem;
    letter-spacing: 0.2rem;
    font-size: 600;
    padding-top: 5%;
  }

.section__text {
    font-weight: 600;
    font-size: 10px;
    justify-content: center;
    padding-top: 5%;
  }
  
.section__text__p1 {
    font-size: 30px;
    text-align: center;
    color:rgb(249, 245, 245);
  }

.title {
    font-size: 120px;
    text-transform: uppercase;
    font-family: "wght" 311;
    margin-bottom: 'Gambetta', serif; 
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
    outline: none;
    text-align: center;
    
  }
  
  
 
  